.cart-list {
  align-items: center;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  width: 90%;
  z-index: 10;
}

.cart-item {
  align-items: center;
  display: flex;
  width: 100%;
}

.cart-item > img {
  border-radius: 20px;
}

.item-info {
  padding: 10px;
}

@media screen and ( min-width : 700px ) {

  .cart-list {
    position: absolute;
    right: 2%;
    top: 100px;
    width: 500px;
  }
}
