header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.header-title {
  text-align: center;
}

.main-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cart-button {
  align-items: center;
  background: none;
  border: none;
  border-radius: 10px;
  display: flex;
  font-size: 1.1em;
}

.cart-button:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.cart-button > img {
  width: 25px;
}

.search-form {
  align-items: center;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  display: flex;
  padding: 5px;
  width: 70%;
}

.input-form {
  background: none;
  border: none;
  width: 100%;
}

.button-form {
  background: none;
  border: none;
  display: flex;
}

.button-form:hover {
  cursor: pointer;
}

.img-form {
  width: 15px;
}

@media screen and ( max-width : 699px ) {

  .header-title {
    width: 100%;
  }
}

@media screen and ( min-width : 700px ) {

  header {
    flex-wrap: nowrap;
  }

  .header-title {
    width: 35%;
  }

  .search-form {
    width: 30%;
  }
}

@media screen and ( min-width : 1300px ) {

  .header-title {
    font-size: 3em;
  }

  .search-form {
    border-radius: 20px;
    height: 30px;
  }

  .input-form {
    font-size: 1.3em;
  }

  .img-form {
    width: 20px;
  }

  .cart-button {
    border-radius: 20px;
    font-size: 1.7em;
  }

  .cart-button > img {
    width: 40px;
  }
}
