header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

header > h1 {
  text-align: center;
  width: 100%;
} 

.main-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cart-button {
  align-items: center;
  background: none;
  border-radius: 10px;
  border: none;
  display: flex;
  font-size: 1.1em;
}

.cart-button:hover {
  background-color: rgb(224, 224, 224);
}

.cart-button > img {
  width: 25px;
}

.search-form {
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  display: flex;
  padding: 5px;
  width: 70%;
}

.input-form {
  background: none;
  border: none;
  width: 100%;
}

.button-form {
  background: none;
  border: none;
  display: flex;
}

.img-form {
  width: 15px;
}

@media screen and (min-width: 700px) {
  header {
    flex-wrap: nowrap;
  }

  header > h1 {
    width: 35%;
  }

  .search-form {
    width: 40%;
  }
}
