.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

.product-list > p {
  text-align: center;
  width: 100%;
}

.card-product {
  align-items: flex-start;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

.card-product:hover {
  background: linear-gradient(90deg, white 20%, rgb(224, 224, 224) 100%);
  cursor: pointer;
}

.card-title {
  font-size: 0.8em;
  margin: 0 7px;
  max-height: 58px;
  overflow: hidden;
}

.card-price {
  align-items: center;
  border: 1px solid rgb(153, 255, 0);
  border-radius: 20px;
  bottom: 7px;
  color: rgb(85, 141, 0);
  display: flex;
  padding: 3px;
  position: absolute;
  right: 10px;
}

.card-price:hover {
  background-color: rgb(153, 255, 0);
  border: 1px solid rgb(85, 141, 0);
  color: black;
  cursor: pointer;
}

.card-price > img {
  width: 30px;
}

.free-ship {
  background-color: rgba(153, 255, 0, 0.61);
  border: 1px solid rgb(85, 141, 0);
  border-radius: 15px;
  bottom: 0;
  left: 0;
  padding: 0 5px;
  position: absolute;
  width: 30px;
}

.card {
  width: 100%;
}

@media screen and ( min-width : 751px ) and ( max-width : 1000px ) {

  .card {
    width: 50%;
  }
}

@media screen and ( min-width : 1001px ) and ( max-width : 1300px ) {

  .card {
    width: 33%;
  }
}

@media screen and ( min-width : 1301px ) {

  .card {
    width: 25%;
  }
}
